protobuf==4.23.4
grpcio==1.60.0
grpcio-tools==1.60.0
qtconsole==5.5.1
aiohttp==3.9.1
async-timeout==4.0.3
netifaces==0.11.0
numpy==1.26.2
torch==2.1.2
torchvision==0.16.2
torchtext
torchdata==0.7.1
lightning==2.1.3
tensorboard==2.15.1
tensorboardx==2.6.2.2
blinker==1.7.0
flask==3.0.0
flask-socketio==5.3.6
eventlet==0.34.2
pytest==7.4.3
python-dotenv==1.0.0
PyYAML==6.0.1
setuptools==69.0.3
matplotlib==3.8.2
networkx==3.2.1
requests==2.31.0
torchmetrics==1.2.1
Pillow==10.1.0
ansi2html==1.9.1
pycryptodome==3.19.0
furo==2023.9.10
Sphinx==7.2.6
sphinx-autoapi==3.0.0
psutil==5.9.7
wandb==0.16.1
rich==13.7.0
seaborn==0.13.0
scikit-learn==1.3.2
scikit-image==0.22.0
datasets==2.16.0
timm==0.9.12
gunicorn==21.2.0
nvidia-ml-py==12.535.133
notebook==7.0.6