{
  "scenario_args": {
    "name": "",
    "start_time": "",
    "federation": "DFL",
    "rounds": 10,
    "simulation": true,
    "controller": "127.0.0.1:5000",
    "random_seed": 42,
    "n_nodes": 0,
    "config_version": "development"
  },
  "device_args": {
    "uid": "",
    "idx": "",
    "username": "pi",
    "password": "pi",
    "role": "aggregator",
    "malicious": false,
    "start": false,
    "accelerator": "cpu",
    "devices": 2,
    "strategy": "ddp",
    "logging": false
  },
  "federation_args": {
    "round": 0
  },
  "network_args": {
    "ip": "",
    "port": 0,
    "neighbors": "",
    "interface": "eth0",
    "rate": "1Mbps",
    "loss": "0.1%",
    "delay": "100ms",
    "delay-distro": 0
  },
  "adaptive_args": {
    "model_similarity": false
  },
  "mobility_args": {
    "random_geo": true,
    "latitude": "",
    "longitude": "",
    "mobility": false,
    "mobility_type": "topology",
    "radius_federation": 1000,
    "scheme_mobility": "random",
    "round_frequency": 1,
    "additional_node": {
      "status": false,
      "round_start": 0,
      "scheme": "random"
    }
  },  
  "data_args": {
    "dataset": "MNIST",
    "iid": true,
    "num_workers": 0
  },
  "model_args": {
    "model": "MLP"
  },
  "training_args": {
    "epochs": 3
  },
  "aggregator_args": {
    "algorithm": "FedAvg"
  },
  "defense_args": {
    "with_reputation": false,
    "is_dynamic_topology": false,
    "is_dynamic_aggregation": false,
    "target_aggregation": false
  },
  "adversarial_args": {
    "attacks": "No Attack",
    "targeted": false,
    "poisoned_sample_percent": 0,
    "poisoned_ratio": 0,
    "target_label": 0,
    "noise_type": "salt",
    "target_changed_label": 0    
  },
  "tracking_args": {
    "enable_remote_tracking": false,
    "local_tracking": "web",
    "log_dir": "/Users/enrique/Documents/PhD/fedstellar/app/logs",
    "config_dir": "/Users/enrique/Documents/PhD/fedstellar/app/config",
    "model_dir": "/Users/enrique/Documents/PhD/fedstellar/app/model",
    "wandb_key": [
      "your wandb key"
    ],
    "wandb_entity": "enriquetomasmb",
    "wandb_project": "platform-enrique"
  },
  "mender_args": {
    "id": "",
    "mac": "",
    "device_type": ""
  },
  "WAIT_HEARTBEATS_CONVERGENCE": 20,
  "AMOUNT_LAST_MESSAGES_SAVED": 100,
  "GOSSIP_MESSAGES_FREC": 100,
  "GOSSIP_MESSAGES_PER_ROUND": 500,
  "GOSSIP_MODELS_FREC": 1,
  "GRPC_TIMEOUT": 60,
  "HEARTBEAT_PERIOD": 2,
  "HEARTBEAT_TIMEOUT": 60,
  "GOSSIP_PERIOD": 0.1,
  "TTL": 10,
  "GOSSIP_MESSAGES_PER_PERIOD": 100,
  "AMOUNT_LAST_MESSAGES_SAVED": 100,
  "GOSSIP_MODELS_PERIOD": 3,
  "GOSSIP_MODELS_PER_ROUND": 50,
  "GOSSIP_EXIT_ON_X_EQUAL_ROUNDS": 3,
  "TRAIN_SET_SIZE": 10,
  "VOTE_TIMEOUT": 60,
  "AGGREGATION_TIMEOUT": 600,
  "REPORT_FREC": 10,
  "COLD_START_TIME": 10,
  "GRACE_TIME_START_FEDERATION": 20
}
